body {
 display: flex;
 background-color: #3d3535;
 flex-direction: column;
 justify-content: center;
    align-items: center;
    height: 100vh;

}

#card {
    
    text-align: center;
    width: 400px;
    height: 800px;
    background-color: lightgray;
    border-radius: 20px;
} 

.task {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;

}
//dark mode
body.dark {
    background-color: #1a1a1a;
    color: white;
}
body.dark #card {
    background-color: #3f2121;
    color: white;
}
body.dark input {
    background-color: #444;
    color: white;
}
body.dark .taskitem {
   background-color: #333;
    color: white;
}
body.dark button {
    background-color: #ffcc00;
    color: #333;
}